@import "../../css-config/mixins.scss";

.main_header {
  width: 100%;
  padding: 0 20px;
  background-color: #212121;
  color: white;
  z-index: 100;
  @include md {
    background-color: #2a2a2a;
    padding: 0 40px;
  }
  .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    @include md {
      height: 80px;
    }
    .left {
      list-style-type: none;
      display: none;
      gap: 25px;
      @include md {
        display: flex;
      }
      li {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
          color: #c41134;
        }
      }
    }
    .center {
      font-size: 22px;
      font-weight: 700;
      cursor: pointer;
      span {
        color: #c41134;
        padding: 0 3px;
      }
      @include md {
        font-size: 34px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      @include md {
        gap: 25px;
      }
      svg {
        font-size: 20px;
        cursor: pointer;
        @include md {
          font-size: 24px;
        }
      }
      .cart_icon {
        position: relative;
        span {
          min-height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #c41134;
          padding: 2px;
          position: absolute;
          top: -5px;
          right: -9px;
          font-size: 10px;
          line-height: 1;
          border-radius: 10px;
        }
      }
    }
  }
  &.sticky-header {
    position: sticky;
    top: 0;
    animation: stickyHeader 0.3s ease forwards;
  }
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
